<ion-modal-view style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Login</h1>
    <button class="button button-light" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <div>
      <center>><img src="http://4.bp.blogspot.com/-zsbDeAUd8aY/US7F0ta5d9I/AAAAAAAAEKY/UL2AAhHj6J8/s1600/facebook-default-no-profile-pic.jpg" align="middle" style="width:304px;height:228px;" alt=""></center>
    </div>
    <button class="button button-positive button-block" ng-click="facebookLogin()">Login with Facebook</button>

  </ion-content>
</ion-modal-view>